<div class="container">	
	<div class="pregunta text-center my-5"></div>
	<div class="respuestas text-center">				
		<img src="/img/vote.png" class="img-responsive">
		<h5>No hay votación por el momento...</h5>
	</div>
</div>