<header class="header content">
    <div class="header-video">
        <video src="video/video.mp4" autoplay loop></video>
    </div>
    
    <div class="header-overlay"></div>

    {{!-- <div class="container"> --}}
        <div class="header-content">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
            
            <a href="/signin" class="btn btn-large waves-effect mt-3">
                <i class="material-icons left">lock</i>
                Let's get started!
            </a>
        </div>
        
        
    {{!-- </div> --}}
</header>