<div class="container">
  <div data-target="slide-out" class="sidenav-trigger _chat mt-5"><i class="material-icons">question_answer</i>Chat</div>

  <div class="chatrooms"></div>

  {{!-- <iframe id="0052194" src="http://localhost:3000/chatroom?name=102&room=newChat"></iframe> --}}

  {{!-- Webgl game --}}
  <div class="webgl-content my-5">
    <div id="unityContainer" style="width: 960px; height: 600px"></div>
    <div class="footer">
      <div class="webgl-logo"></div>
      <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
      <div class="title">URP_Sanofi_V0.00</div>
    </div>
  </div>
</div>