<nav class="teal lighten-2 inicio">
  <div class="nav-wrapper container">
    <a href="/speaker/" class="brand-logo">
      <img src="/img/logo.png" class="responsive-img">
    </a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li class="nav-item">
        <a class="nav-link" href="/speaker/filtro">
          <i class="material-icons left">visibility</i>
          Filtro
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/speaker/experto">
          <i class="material-icons left">question_answer</i>
          Experto
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/speaker/votacion">
          <i class="material-icons left">check_box</i>
          Votación
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/speaker/wordcloud">
          <i class="material-icons left">cloud</i>
          Wordcloud
        </a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li class="nav-item">
    <a class="nav-link" href="/speaker/filtro">
      <i class="material-icons left">visibility</i>
      Filtro
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/speaker/experto">
      <i class="material-icons left">question_answer</i>
      Experto
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/speaker/votacion">
      <i class="material-icons left">check_box</i>
      Votación
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/speaker/wordcloud">
      <i class="material-icons left">cloud</i>
      Wordcloud
    </a>
  </li>
</ul>