<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo mr-5" href="/admin">Dashboard</a>
      <a class="navbar-brand brand-logo-mini" href="/admin"><img src="/img/admin/home.png" alt="logo"/></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="ti-view-list"></span>
      </button>
    
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
            <img src="/img/admin/face28.jpg" alt="profile"/>
          </a>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="ti-view-list"></span>
      </button>
    </div>
  </nav>

  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
          <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item admin">
          <a class="nav-link" href="/admin">
            <i class="ti-comments menu-icon"></i>
            <span class="menu-title">Alertas</span>
          </a>
        </li>        
        <li class="nav-item votacion">
          <a class="nav-link " href="/admin/votacion">
            <i class="ti-star menu-icon"></i>
            <span class="menu-title">Votación</span>
          </a>
        </li>
        <li class="nav-item preguntas">
          <a class="nav-link" href="/admin/preguntas">
            <i class="ti-plus menu-icon"></i>
            <span class="menu-title">Preguntas</span>
          </a>
        </li>
        <li class="nav-item reportes">
          <a class="nav-link" href="/admin/reportes">
            <i class="ti-clipboard menu-icon"></i>
            <span class="menu-title">Reportes</span>
          </a>
        </li> 
        <li class="nav-item btn-reload">
          <a class="nav-link">
            <i class="ti-reload menu-icon"></i>
            <span class="menu-title">Reload app</span>
          </a>
        </li>
      </ul>
    </nav>
    
    <!-- partial -->
    <div class="main-panel">          
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-8 offset-md-2 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Agregar Preguntas</h4>
                <form class="forms-sample">
                  <div class="form-group">
                    <label for="pregunta">Pregunta</label>
                    <input type="text" class="form-control" id="pregunta" placeholder="Escribe la pregunta">
                  </div>
                  <div class="form-group">
                    <label for="respuestas">Respuestas</label>
                    <input type="text" class="form-control ip-1 mb-3" placeholder="Respuesta 1">
                    <input type="text" class="form-control ip-1 mb-3" placeholder="Respuesta 2">
                    <input type="text" class="form-control ip-1 mb-3" placeholder="Respuesta 3">
                    <input type="text" class="form-control ip-1 mb-3" placeholder="Respuesta 4">
                    <input type="text" class="form-control ip-1 mb-3" placeholder="Respuesta 5">
                    <input type="text" class="form-control ip-1" placeholder="Respuesta 6">
                  </div>
                  
                  <button type="submit" class="btn btn-primary mr-2 save-questions">Guardar</button>
                </form>
              </div>
            </div>
          </div>                   
        </div>
      </div>        
      <!-- partial -->
    </div>
  </div>
</div>