<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>.:: Dashboard ::.</title>
  <link rel="stylesheet" href="/css/admin/themify-icons.css">
  <link rel="stylesheet" href="/css/admin/vendor.bundle.base.css">
  
  <link rel="stylesheet" href="/css/admin/styles.css">
  <link rel="shortcut icon" href="/img/admin/favicon.png" />
</head>
<body>
    {{{ body }}}

    <script type="text/javascript" src="/js/admin/vendor.bundle.base.js"></script>
    <script type="text/javascript" src="/js/admin/off-canvas.js"></script>
    <script type="text/javascript" src="/js/admin/hoverable-collapse.js"></script>
    <script type="text/javascript" src="/js/admin/template.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/admin/dashboard.js"></script>
</body>
</html>